CN100.Redis.Client/RedisSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:CN100.Redis.Client" elementFormDefault="qualified" targetNamespace="urn:CN100.Redis.Client" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="RedisSection" type="tns:CN100.Redis.Client.RedisSectionCT" />
	<xs:complexType name="CN100.Redis.Client.RedisSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="RedisGroup" type="tns:CN100.Redis.Client.RedisGroupCT">
				<xs:annotation>
					<xs:documentation>The RedisGroup.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CN100.Redis.Client.hostCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:CN100.Redis.Client.ServerCT">
				<xs:annotation>
					<xs:documentation>The Server Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="db" use="optional" type="xs:long">
			<xs:annotation>
				<xs:documentation>The db.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="connectName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The connectName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxReadPoolSize" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The MaxReadPoolSize.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxWritePoolSize" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The MaxWritePoolSize.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CN100.Redis.Client.ServerCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="ipAddress" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ipAddress.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="port" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The port.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="redMod" use="optional" type="tns:ReadMod">
			<xs:annotation>
				<xs:documentation>The RedMod.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CN100.Redis.Client.RedisGroupCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="host" type="tns:CN100.Redis.Client.hostCT">
				<xs:annotation>
					<xs:documentation>A collection of Server instances.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ReadMod">
		<xs:annotation>
			<xs:documentation>ReadMod.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ReadAndWrite">
				<xs:annotation>
					<xs:documentation>ReadAndWrite.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ReadOnly">
				<xs:annotation>
					<xs:documentation>ReadOnly.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
